.navbar {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.super-kanban-logo {
  height: 90px;
  margin-left: 14px;
}