.side-bar {
  background-color: white;
  position: fixed;
  top: 50px;
  left: 0px;
  width: 80px;
  height: 100%;
}

.link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.sidebar-icon-kanban {
  height: 35px;
  cursor: pointer;
}

.sidebar-icon-about {
  height: 40px;
  cursor: pointer;
}