.task-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 0px 20px 20px 20px;
}

.task-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.prio-del-container,
.task-inpect-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-card-title {
  font-weight: bold;
}

.inspect-task-btn,
.delete-task-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.inspect-icon {
  height: 12px;
}

.cross-icon {
  height: 10px;
}

.drag-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35px;
  cursor: grab;
}

.drag-container:active {
  cursor: grabbing;
}

.drag-container-vs {
  background-color: rgba(0, 0, 0, 0.1);
  height: 18%;
  width: 70%;
  border:none;
  border-radius: 30px;
}