.background{
  height: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(240, 240, 240);
}

.about-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 5px;

  width: 60%;
  min-width: 800px;
  max-width: 1000px;

  padding: 20px 30px 30px 30px;
}

.about-us-title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
}

.about-us-info-container {
  display: flex;
  gap: 100PX;
}

.profiles-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.profile-container,
.profile-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-container {
  gap: 50px;
}

.profile-img-container {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  overflow: hidden;
}

.profile-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.author-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.author-name {
  white-space: nowrap;
  font-size: 25px;
  font-weight: bold;
}

.author-links {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.links-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.link-logos {
  height: 40px;
}

.about-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  gap: 60px;
  
  font-size: 18px;
}

.thank-you {
  font-size: 25px;
  font-weight: bold;
}

