.task-details-container {  
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 5px;

  padding: 20px 30px 30px 30px;
}

.stat-back-edit-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btns-inspect-container {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  gap: 8px;
}

.task-details-edit-button,
.task-details-close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.task-detaisls-edit-icon,
.task-details-cross-icon {
  height: 15px;
}

.status-container,
.description-container {
  font-size: 20px;
}

.title-inspect-task-container {
  font-size: 25px;
  font-weight: bold;
  padding: 20px 0;
}

.assignee-prio-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: 15px;

  padding: 20px 0;
}

.assignee-container,
.prio-container {
  text-align: center;
}

.due-date-container {
  display: flex;
  gap: 10px;
  padding-top: 20px;
  margin-bottom: -25px;
  font-size: 15px;
}